
  <nav class="navbar fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          Sigma Tenant </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link"> Home
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Blog
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> About Us
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Hello User
            </a>
          </li>
          <li>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
          </li>
          
            <!-- <div>
              <button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="modal" data-target="#loginModal">
                <i class="material-icons">assignment</i>
            
            </button>
            
            <div class="modal fade" id="loginModal" tabindex="-1" role="">
                <div class="modal-dialog modal-login" role="document">
                    <div class="modal-content">
                        <div class="card card-signup card-plain">
                            <div class="modal-header">
                              <div class="card-header card-header-primary text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                  <i class="material-icons">clear</i>
                                </button>
            
                                <h4 class="card-title">Log in</h4>
                    
                              </div>
                            </div>
                            <div class="modal-body">
                                <form class="form" method="" action="">
                                    <div class="card-body">
            
                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="material-icons">face</i></div>
                                              </div>
                                              <input type="text" class="form-control" placeholder="First Name...">
                                            </div>
                                        </div>
            
                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="material-icons">email</i></div>
                                              </div>
                                              <input type="text" class="form-control" placeholder="Email...">
                                            </div>
                                        </div>
            
                                        <div class="form-group bmd-form-group">
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="material-icons">lock_outline</i></div>
                                              </div>
                                              <input type="password" placeholder="Password..." class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div> -->
          
        </ul>
      </div>
    </div>
    
  </nav>
  
  <div class="main">
    <div class="head" style="background-image: url('/images/Vector 1.png'); background-size: cover;" >
      <div class="profile">
        <div class="profilepic row">
          <img src="/images/room.png">
          <h2>Hello UserName</h2>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="card">
        <div class="card-body">
          <div>
            <h4><strong>Edit profile</strong></h4>
          </div>
          <div>
            <form>
              <div class="form-row" style="justify-content: space-between;">
                <div class="form-group col-md-3">
                  <label for="inputEmail4">Name</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="username">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Phone Number</label>
                  <input type="number" class="form-control" id="inputPassword4" placeholder="98989898">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
              </div>
              <div class="form-row" style="justify-content: space-between;">
                <div class="form-group col-md-3">
                  <label for="inputCity">Email Id</label>
                  <input type="text" class="form-control" id="inputCity" placeholder="username@gmail.com">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputState">Date of Birth</label>
                  <input type="date" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            <h4><strong>Change Password</strong></h4>
          </div>
          <div>
            <form>
              <div class="form-group col-md-3 pass">
                <label for="inputState" style="margin-left: 15px;">Change Password</label>
                <input type="password" class="form-control">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            <h4><strong>Payments Cards</strong></h4>
          </div>
          <div>
            <div class="form-group label-floating">
              <label class="control-label">Master Card</label>
              <input type="text" class="form-control" placeholder="xxxxxxxxxxxxxx 7890" />
            </div>
            <div class="form-group label-floating">
              <label class="control-label">Visa Card</label>
              <input type="text" class="form-control" placeholder="xxxxxxxxxxxxxx 7890" />
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            <h4><strong>Booking History</strong></h4>
          </div>
          <div class="row">
            <div class="room col-md-3" style="background-image: url('/images/room.png'); background-size: cover;">
            </div>
            <div class="col-md-4">
              <h4><strong> Loreum ipsum dolor</strong> </h4>
                <p>
                  Lorem ipsum dolor
                </p>
            </div>
            <div class="col-md-2">
              <h4><strong>TYUIOOP32</strong></h4>
            </div>
            <div class="col-md-3">
              <h4><strong>Check Out</strong></h4>
              <P>Pending Amount</P>
              <a href="#">View Details</a>
            </div>

          </div>
            <hr>
            <div class="row">
              <div class="room col-md-3" style="background-image: url('/images/room.png'); background-size: cover;">
              </div>
              <div class="col-md-4">
                <h4><strong> Loreum ipsum dolor</strong> </h4>
                  <p>
                    Lorem ipsum dolor 
                  </p>
              </div>
              <div class="col-md-2">
                <h4><strong>TYUIOOP32</strong></h4>
              </div>
              <div class="col-md-3">
                <h4><strong>Check Out</strong></h4>
                <P>Pending Amount</P>
                <a href="#">View Details</a>
              </div>
  
            </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

